<img src='./tyrano/images/kag/{{:novel("file_save_bg")}}' style='z-index:-1;left:0;top:0;width:100%;height:100%;position:absolute;'>
<div class="save_area savepage">

	<!-- <ul class='save_list'> はjsで追記するので要らない -->
	{{for array_save}}
	<li class='save_list_item'>
	
		<div class='save_display_area' data-num='{{:num}}'>
		
			<div class='save_list_item_thumb'>
			{{if img_data != ""}}
				<img src="{{:img_data}}">
			{{/if}}
			</div>
			
			<div class='save_list_item_area'>
				<div class='save_list_item_date'><span class="data_num">No.{{:num + 1}}</span>
					{{if save_date != ""}}<span class="date">{{:save_date}}</span>
					{{else}}<span class="date none">----/--/--　--：--：--</span>
					{{/if}}
				</div>
				<div class='save_list_item_text'>{{:title}}</div>
			</div>
		
		</div>
		
		<div class="save_config_area">
		{{if save_date != ""}}
			<div class="save_protect config" data-num='{{:num}}'>{{if protect == "true"}}<img src="./data/image/save_addfn/save_protect_on.png" class="protect_on" />{{else}}<img src="./data/image/save_addfn/save_protect_off.png" class="protect_off" />{{/if}}<span class="check">保護</span></div>
			<div class="save_delete config" data-num='{{:num}}'><img src="./data/image/save_addfn/save_delete.png" class="delete" /><span class="delete">削除</span></div>
		{{/if}}
		</div>
	</li>
	{{/for}}

</div>
